a:hover {
    text-decoration: none;
}

.second-nav-item {
    font-size: 17px;
}

.second-nav-font-color {
    color: rgba(255, 255, 255, 0.5);
}

.second-nav-font-color:hover {
    color: rgba(255, 255, 255, 0.75);
}

.species-slider-image {}

#our-mission-head-section {
    background: url(../img/s1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#our-mission-head-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}